<%= form_for note do |f| %>
    <div>
        <%= f.label :topic %><br>
        <%= f.text_field :topic %>
    </div>
    <div>
        <%= f.label :subject_name, "Subject" %><br>
        <%= f.text_field :subject_name, list: "subjects_autocomplete" %>
        <datalist id="subjects_autocomplete">
            <% Subject.all.each do |s| %>
                <option value="<%= s.name %>">
            <% end %>
        </datalist>
    </div>
    <div>
        <%= f.label :content %><br>
        <%= f.text_area :content %>
    </div>
    <div>
        <%= f.fields_for :bullet_points do |builder| %>
            <%= builder.label :keywords, "Keywords/Questions" %>
            <%= builder.text_field :keywords, :rows => 3 %><br>
        <% end %>
    </div>
    <div>
        <%= f.label :summary_note, "Summary" %><br>
        <%= f.text_area :summary_note %>
    </div>
    <div>
        <%= f.submit class: 'btn btn-outline-primary' %>
    </div>
<% end %>

<% if note.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">There were some errors in your form:</h4>
    <hr>
    <% note.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

