<h1>Search for notes</h1>

<div>
    <%= form_tag notes_path, method: :get do %>
        <%= text_field_tag :query, params[:query] %>
        <%= submit_tag "Search", title: nil %>
    <% end %>
</div>

<% @notes.each do |n| %>
    <h3><%= link_to n.topic, note_path(n) %></h3>
    <div>Subject: <%= link_to n.subject.name, subject_path(n.subject) %></div>
    <div><%= n.created_at.strftime('%B %d, %Y') %></div>
<% end %>

<%= link_to "Create New Note", new_note_path, class: 'btn btn-outline-secondary' %>
<%= link_to "Home", root_path, class: 'btn btn-outline-success' %>