<% if flash[:new_success] %>
    <div class="alert alert-success" role="alert">
        <%= flash[:new_success] %>
    </div>
<% end %>

<% if flash[:update_success] %>
    <div class="alert alert-success" role="alert">
        <%= flash[:update_success] %>
    </div>
<% end %>

<div id="form-container" class="container shadow-lg px-5 pt-5">

    <h1><%= @note.topic %></h1>
    <h3 class="py-3">Subject: <%= @note.subject.name %></h3>
    <h4>Content</h4>
    <p><%= simple_format(@note.content) %></p>
    <% if @note.bullet_points.any? %>
        <h4>Key Points</h4>
        <ul>
            <% @note.bullet_points.each do |bp| %>
                <% if bp.keywords.present? %>
                    <li>
                        <%= link_to bullet_point_path(bp), method: :delete, class: 'btn btn-white', data: {confirm: "Are you sure you want clear this key point?"} do %>
                            <i class="far fa-trash-alt text-danger"></i>
                        <% end %>
                        <%= bp.keywords %>
                    </li>
                <% end %>
            <% end %>
        </ul>
    <% end %>
    <% if @note.summary.any? %>
        <h4>Summary</h4>
        <p><%= simple_format(@note.summary_note) %></p>
    <% end %>
    
    <div class="row text-center my-4">
        <%= link_to "Edit", edit_note_path, class: 'btn btn-outline-success col-md-3 btn-block' , id: 'form-button' %>
        <%= link_to "Back to all notes", notes_path, class: 'btn btn-outline-info col-md-4 btn-block', id: 'form-button' %>
        <%= link_to note_path(@note), method: :delete, class: 'btn btn-white col-md-3 btn-block', id: 'form-button', data: {confirm: "Are you sure you want to delete this note?"} do %>
            Delete
        <% end %>
    </div>

</div>