<h1>Topic: <%= @note.topic %></h1>
<h3>Subject: <%= @note.subject.name %></h3>
<% if @note.bullet_points.any? %>
    <h4>Bullet Points</h4>
    <ul>
        <% @note.bullet_points.each do |bp| %>
            <li>
                <%= bp.keywords %>
                <a href=""><i class="far fa-trash-alt text-danger"></i></a>
            </li>
        <% end %>
    </ul>
<% end %>
<h4>Content</h4>
<p><%= @note.content %></p>
<h4>Summary</h4>
<p><%= @note.summary_note %></p>
<%= link_to "Edit", edit_note_path, class: 'btn btn-outline-secondary' %>
<%= link_to "Back to all notes", notes_path, class: 'btn btn-outline-info' %>