<h1 class="display-4">Log In</h1>

<% if flash[:logged_out] %>
    <div class="alert alert-success" role="alert">
        <%= flash[:logged_out] %>
    </div>
<% end %>

<%= form_tag ({controller: 'users', action: 'login_action', method: 'post'}) do %>
    <div>
        <%= label_tag "Email Address: " %>
        <%= text_field_tag :email, params[:email] %>
    </div>
    <div>
        <%= label_tag "Password: " %>
        <%= password_field_tag :password, params[:password] %>
    </div>
    <%= submit_tag "Login", class: "btn btn-outline-primary" %>
<% end %>

<% if flash.now[:login_error] %>
    <div class="alert alert-danger" role="alert">
        <%= flash.now[:login_error] %>
    </div>
<% end %>

<h4>New User?</h4>
<%= link_to "Sign Up", new_user_path, class: 'btn btn-outline-secondary' %>