<% if flash[:logged_out] %>
    <div class="alert alert-success" role="alert">
        <%= flash[:logged_out] %>
    </div>
<% end %>

<% if flash.now[:login_error] %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash.now[:login_error] %>
    </div>
<% end %>

<div id="form-container" class="container shadow-lg px-5">

    <h1 class="display-5 text-center">Login to Noteriety</h1>

    <%= form_tag ({controller: 'users', action: 'login_action', method: 'post'}) do %>
        <div class="row justify-content-center">
            <div class="form-group col-md-5">
                <%= label_tag "Email Address" %>
                <%= text_field_tag :email, params[:email], class: 'form-control' %>
            </div>
            <div class="col-md-auto"></div>
            <div class="form-group col-md-5">
                <%= label_tag "Password" %>
                <%= password_field_tag :password, params[:password], class: 'form-control' %>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 col-md-4"></div>
            <div class="form-group col-6 col-md-4">
                <%= submit_tag "Login", class: "btn btn-outline-success btn-block form-control", id: 'login-button' %>
            </div>
            <div class="col-3 col-md-4"></div>
        </div>
    <% end %>

    <div class="mt-4 text-center"><a href="<%= new_user_path %>">New User?</a></div>
</div>